.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  // @include respond(tab-port) {
  //   padding: 20rem 0;
  // }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.801),
      rgba($color-primary-dark, 0.801)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  // clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  transform: skewY(-7deg);
  @include respond(tab-port) {
    padding: 15rem 0;
  }
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  margin-top: -12rem;
  padding: 25rem 0 15rem 0;
  background-color: $color-grey-light-1;
  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      -255deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      transparent 50%
    ),
    url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: $border-radius;
  @include shadow-1;
  height: 50rem;
  @include respond(phone) {
    background-image: linear-gradient(
        -255deg,
        rgba($color-white, 0.75) 0%,
        rgba($color-white, 0.75) 100%
      ),
      url("../img/nat-10.jpg");
  }
  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(phone) {
      width: 100%;
      padding: 3rem;
    }
  }
}
