.btn {
  &,
  &:link,
  &visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100rem;
    @include shadow-1;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    // for <button> element
    border: none;
    cursor: pointer;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &:focus,
  &:hover {
    transform: translateY(-0.3rem);
    @include shadow-1;

    &::after {
      animation-name: expandBackground;
      animation-duration: 0.4s;
    }
  }

  &:active {
    transform: translateY(0.3rem);
    @include shadow-1;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    @include shadow-1;
    transform: translateY(-2px);
  }

  &:active {
    // background-color: $color-primary-light;
    @include shadow-1;
    transform: translateY(0px);
  }
}
