.composition {
  position: relative;
  transition: all 0.2s;
  height: 0;
  &__photo {
    width: 55%;
    @include shadow-2;
    border-radius: 3px;
    position: absolute;
    z-index: 0;
    transition: all 0.2s;
    outline-offset: 1.5rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33%;
      @include shadow-1;
    }
    &--p1 {
      left: 0;
      top: 1rem;
      @include respond(tab-port) {
        top: 0;
        left: 2rem;
      }
    }

    &--p2 {
      left: 40%;
      top: 4rem;

      @include respond(tab-port) {
        z-index: 5;
        left: 0;
        top: 0;
        transform: scale(1.2);
      }
    }
    &--p3 {
      left: 20%;
      top: 12rem;
      @include respond(tab-port) {
        top: 0;
        left: -2rem;
      }
    }

    &:hover {
      transform: scale(1.5) translateY(-0.65rem);
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
      z-index: 10;
      outline: 1rem solid $color-primary;
      // padding: 1.5rem;
      // border: 1rem solid $color-primary;
    }
  }
  &:hover {
    transform: scale(0.9);
  }
}
