.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;
  @include respond(tab-port) {
    padding: 1rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );

    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
  }

  &:hover {
    transform: scale(1.05) translateY(-1.5rem);
  }
}
