.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    color: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    &::-webkit-input-placeholder {
      color: $color-grey-dark-1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.1);
      border-bottom: 3px solid $color-primary;
      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__input:focus + &__label {
    opacity: 1;
  }

  &__radio-group {
    width: 100%;
    display: inline-block;
  }
  &__radio-label {
    width: 50%;
    font-size: $default-font-size;
    cursor: pointer;
    margin-right: 2rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    border: 0.5rem solid $color-primary;
    border-radius: 100rem;
    transform: translate(0, 30%);
    margin-right: 1.5rem;
    &::after {
      content: "";
      background-color: $color-primary;
      border-radius: 1000rem;
      height: 1.2rem;
      width: 1.2rem;
      display: block;
      @include absoluteCenter;
      opacity: 0;
      transition: all 0.2s;
    }
  }
  &__radio-input {
    display: none;
  }
  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
