.story {
  width: 75%;
  margin: 0 auto 10rem auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.7);
  border-radius: 3px;
  padding: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(phone) {
    width: 100%;
    padding: 3rem 3rem;
    transform: none;
    & > * {
      transform: skewX(0) !important;
    }
  }

  & > * {
    transform: skewX(12deg);
  }
  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
  }

  &__image {
    position: absolute;
    height: 100%;
    transition: all 0.3s;
    @include absoluteCenter(scale(1.4));
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover &__image {
    filter: blur(3px) brightness(80%);
    @include absoluteCenter(scale(1));
  }
}
