@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin colWidth($dim, $sub: 1) {
  width: calc(
    #{$sub} * (100% - (#{$dim} - 1) * #{$gutter-horizontal}) / #{$dim} +
      (#{$sub} - 1) * #{$gutter-horizontal}
  );
}

// Shadows
@mixin shadow-1 {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
}

@mixin shadow-2 {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
}

@mixin absoluteCenter($adtl_tfms...) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) $adtl_tfms;
}

//media query manager
/* 
0-600px   Phone
600-900   tablet portrait
900-1200    tablet landscape
1200-1800   noral
1800+   large desktop
*/

/*
$breakpoint arg choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint: default) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 600/16*1em) {
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media only screen and (max-width: 900/16*1em) {
      @content;
    }
  }
  @if $breakpoint==tab-land {
    @media only screen and (max-width: 1200/16*1em) {
      @content;
    }
  }
  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 1800/16*1em) {
      @content;
    }
  }

  @if $breakpoint==default {
    @media only screen and (max-width: 1200/16*1em) {
      @content;
    }
    @media only screen and (max-width: 900/16*1em) {
      @content;
    }
    @media only screen and (max-width: 600/16*1em) {
      @content;
    }
  }
}
