// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-1: lighten(#777, 15%);
$color-grey-dark-2: darken(#777, 15%);
$color-grey-dark-3: darken(#777, 18%);
$color-grey-light-1: #f7f7f7f7;
$color-grey-light-2: #eee;
$color-white: white;
$color-black: black;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;

$border-radius: 3px;
