// ANIMATIONS

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes expandBackground {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleX(1.5) scaleY(2);
  }
}

.btn--animated {
  animation: moveUp 2s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
