.u-container {
  max-width: $grid-width !important;
  margin: 0 auto !important;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  @include respond(tab-port) {
    margin-bottom: 6rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
  @include respond(tab-port) {
    margin-bottom: 1rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 2.5rem !important;
  }
}

.u-margin-top-huge {
  margin-top: 12rem !important;
  @include respond(tab-port) {
    margin-top: 8rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
  @include respond(tab-port) {
    margin-top: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
  @include respond(tab-port) {
    margin-top: 1rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 4rem !important;
  @include respond(tab-port) {
    margin-top: 2.5rem !important;
  }
}
