/* 
0-600px   Phone
600-900   tablet portrait
900-1200    tablet landscape
1200-1800   noral
1800+   large desktop
*/
/*
$breakpoint arg choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes expandBackground {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scaleX(1.5) scaleY(2); } }

.btn--animated {
  animation: moveUp 2s ease-out 0.75s;
  animation-fill-mode: backwards; }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: white; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    margin-bottom: 6rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-container {
  max-width: 114rem !important;
  margin: 0 auto !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem !important; } }

.u-margin-top-huge {
  margin-top: 12rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 8rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: 1rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2.5rem !important; } }

.btn, .btn:link, .btnvisited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #55c57a;
  color: white; }
  .btn--green::after {
    background-color: #55c57a; }

.btn:focus, .btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .btn:focus::after, .btn:hover::after {
    animation-name: expandBackground;
    animation-duration: 0.4s; }

.btn:active {
  transform: translateY(0.3rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.composition {
  position: relative;
  transition: all 0.2s;
  height: 0; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    z-index: 0;
    transition: all 0.2s;
    outline-offset: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 2rem; } }
    .composition__photo--p2 {
      left: 40%;
      top: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          z-index: 5;
          left: 0;
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p3 {
      left: 20%;
      top: 12rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: -2rem; } }
    .composition__photo:hover {
      transform: scale(1.5) translateY(-0.65rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 10;
      outline: 1rem solid #55c57a; }
  .composition:hover {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 1rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    letter-spacing: 0.2rem;
    transition: all 0.2s; }
  .feature-box:hover {
    transform: scale(1.05) translateY(-1.5rem); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
      height: 23rem; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
      height: 23rem; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
      height: 23rem; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right; }
    .card__heading-span {
      width: 60%;
      padding: 1rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 85%;
      margin: auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center; }
  .card__price-box {
    color: white;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: auto;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
      background-color: white; }
      .card__side {
        height: auto;
        box-shadow: none;
        position: relative;
        border-radius: 3px; }
        .card__side--back {
          padding: 3rem 0;
          transform: rotateY(0);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        text-align: center; }
      .card__price-box {
        color: white;
        margin-bottom: 0; }
      .card__price-only {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .card__price-value {
        font-size: 6rem;
        font-weight: 100; } }

.story {
  width: 75%;
  margin: 0 auto 10rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 37.5em) {
    .story {
      width: 100%;
      padding: 3rem 3rem;
      transform: none; }
      .story > * {
        transform: skewX(0) !important; } }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
  .story__image {
    position: absolute;
    height: 100%;
    transition: all 0.3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.4); }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(20%);
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%); }
  .story:hover .story__image {
    filter: blur(3px) brightness(80%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.18;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .form__input::-webkit-input-placeholder {
    color: #9d9d9d; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__input:focus + .form__label {
  opacity: 1; }

.form__radio-group {
  width: 100%;
  display: inline-block; }

.form__radio-label {
  width: 50%;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 2rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 0.5rem solid #55c57a;
  border-radius: 100rem;
  transform: translate(0, 30%);
  margin-right: 1.5rem; }
  .form__radio-button::after {
    content: "";
    background-color: #55c57a;
    border-radius: 1000rem;
    height: 1.2rem;
    width: 1.2rem;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s; }

.form__radio-input {
  display: none; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 5rem 0; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom-small: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-12 {
    width: calc( 1 * (100% - (12 - 1) * 6rem) / 12 + (1 - 1) * 6rem); }
  .row .col-2-of-12 {
    width: calc( 2 * (100% - (12 - 1) * 6rem) / 12 + (2 - 1) * 6rem); }
  .row .col-3-of-12 {
    width: calc( 3 * (100% - (12 - 1) * 6rem) / 12 + (3 - 1) * 6rem); }
  .row .col-4-of-12 {
    width: calc( 4 * (100% - (12 - 1) * 6rem) / 12 + (4 - 1) * 6rem); }
  .row .col-5-of-12 {
    width: calc( 5 * (100% - (12 - 1) * 6rem) / 12 + (5 - 1) * 6rem); }
  .row .col-2-of-4 {
    width: calc( 6 * (100% - (12 - 1) * 6rem) / 12 + (6 - 1) * 6rem); }
  .row .col-6-of-12 {
    width: calc( 6 * (100% - (12 - 1) * 6rem) / 12 + (6 - 1) * 6rem); }
  .row .col-7-of-12 {
    width: calc( 7 * (100% - (12 - 1) * 6rem) / 12 + (7 - 1) * 6rem); }
  .row .col-8-of-12 {
    width: calc( 8 * (100% - (12 - 1) * 6rem) / 12 + (8 - 1) * 6rem); }
  .row .col-9-of-12 {
    width: calc( 12 * (100% - (12 - 1) * 6rem) / 12 + (12 - 1) * 6rem); }
  .row .col-10-of-12 {
    width: calc( 10 * (100% - (12 - 1) * 6rem) / 12 + (10 - 1) * 6rem); }
  .row .col-11-of-12 {
    width: calc( 11 * (100% - (12 - 1) * 6rem) / 12 + (11 - 1) * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -40%);
    text-align: center; }

.footer {
  background-color: #494949;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7f7;
    background-color: #494949;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 1002;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  .navigation__button:hover {
    cursor: pointer; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(150); }
  .navigation__checkbox:checked ~ .navigation__background + .navigation__nav {
    opacity: 1;
    width: 100%;
    top: 0%;
    left: 0;
    transform: scale(1);
    visibility: visible; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 10000rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: all 0.8s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__item {
  margin: 1.5rem; }

.navigation__link {
  display: inline-block;
  padding: 1rem;
  width: 100%; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 50%, white 50%);
    color: white;
    transition: all 0.4s;
    background-size: 250%; }
  .navigation__link:hover, .navigation__link:active {
    color: #55c57a;
    background-position-x: 100%;
    transform: translate(1rem, 1rem) scale(1.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.navigation__list {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  visibility: hidden;
  position: fixed;
  top: -50%;
  left: 50%;
  z-index: 1001;
  opacity: 0;
  transform: scale(0);
  transition: all 0.8s ease-in-out; }

.navigation__button:hover .navigation__icon::after {
  transform: translateY(-0.5rem); }

.navigation__button:hover .navigation__icon::before {
  transform: translateY(0.5rem); }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(45deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(-45deg);
    top: 0; }

.navigation__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    height: 3px;
    background-color: #494949;
    display: block;
    border-radius: 3px;
    transition: all 0.2s; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    width: 100%; }
  .navigation__icon::after {
    top: -1rem; }
  .navigation__icon::before {
    top: 1rem; }

.popup {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
    .popup:target .popup-card {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1); }
  .popup-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 3px;
    background-color: white;
    width: 80%;
    overflow: hidden;
    transition: all 0.5s ease-in; }
    .popup-card::after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (max-width: 37.5em) {
      .popup-card {
        width: 100%; } }
    .popup-card__exit, .popup-card__exit:visited {
      position: absolute;
      text-decoration: none;
      color: #777;
      top: 3rem;
      right: 3rem;
      font-size: 4rem;
      z-index: 10000;
      line-height: 1; }
      @media only screen and (max-width: 37.5em) {
        .popup-card__exit, .popup-card__exit:visited {
          transform: scale(1.3); } }
    .popup-card__exit:hover {
      color: #515151; }
    .popup-card__images {
      display: inline-block;
      width: 33%;
      float: left; }
      @media only screen and (max-width: 37.5em) {
        .popup-card__images {
          display: none; } }
    .popup-card__image {
      width: 100%;
      display: block; }
    .popup-card__terms {
      column-count: 2;
      column-width: 4rem;
      column-rule: 1px solid #9d9d9d;
      hyphens: auto; }
      @media only screen and (max-width: 37.5em) {
        .popup-card__terms {
          column-count: 1; } }
  .popup__text {
    padding-left: 3rem;
    height: 100%;
    width: 66%;
    float: left; }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        font-size: 1.5rem;
        width: 100%;
        margin-top: 5rem; } }

.section-about {
  background-color: #f7f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: -12rem;
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(-255deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
  @media only screen and (max-width: 37.5em) {
    .book {
      background-image: linear-gradient(-255deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url("../img/nat-10.jpg"); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .book__form {
        width: 100%;
        padding: 3rem; } }
