.row {
  max-width: $grid-width;
  margin: 0 auto;
  @include respond(tab-port) {
    max-width: 50rem;
    padding: 5rem 0;
  }
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
    @include respond(tab-port) {
      margin-bottom-small: $gutter-vertical-small;
    }
  }

  @include clearfix;

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-12 {
    @include colWidth(12);
  }

  .col-2-of-12 {
    @include colWidth(12, 2);
  }

  .col-3-of-12 {
    @include colWidth(12, 3);
  }

  .col-4-of-12 {
    @include colWidth(12, 4);
  }

  .col-5-of-12 {
    @include colWidth(12, 5);
  }

  .col-2-of-4 {
    @include colWidth(12, 6);
  }

  .col-6-of-12 {
    @include colWidth(12, 6);
  }

  .col-7-of-12 {
    @include colWidth(12, 7);
  }

  .col-8-of-12 {
    @include colWidth(12, 8);
  }

  .col-9-of-12 {
    @include colWidth(12, 12);
  }

  .col-10-of-12 {
    @include colWidth(12, 10);
  }

  .col-11-of-12 {
    @include colWidth(12, 11);
  }
}
