.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1002;
    border-radius: 50%;
    @include shadow-2;
    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(150);
    & + .navigation__nav {
      // display: inline-block;
      opacity: 1;
      width: 100%;
      top: 0%;
      left: 0;
      transform: scale(1);
      visibility: visible;
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 10000rem;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: all 0.8s ease-in-out;
    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }
  &__item {
    margin: 1.5rem;
  }
  &__link {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    &,
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 50%,
        $color-white 50%
      );
      color: $color-white;
      transition: all 0.4s;
      background-size: 250%;
    }
    &:hover,
    &:active {
      color: $color-primary;
      background-position-x: 100%;
      transform: translate(1rem, 1rem) scale(1.1);
      @include shadow-1;
    }
  }
  &__list {
    list-style: none;
    @include absoluteCenter;
    text-align: center;
  }

  &__nav {
    height: 100vh;
    width: 100%;
    visibility: hidden;
    position: fixed;
    top: -50%;
    left: 50%;
    z-index: 1001;
    opacity: 0;
    transform: scale(0);
    transition: all 0.8s ease-in-out;
  }

  &__button:hover &__icon {
    &::after {
      transform: translateY(-0.5rem);
    }
    &::before {
      transform: translateY(0.5rem);
    }
  }

  &__checkbox:checked + &__button {
    & .navigation__icon {
      background-color: transparent;

      &::after {
        transform: rotate(45deg);
        top: 0;
      }
      &::before {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  &__icon {
    @include absoluteCenter;
    width: 50%;

    &,
    &::after,
    &::before {
      height: 3px;
      background-color: $color-grey-dark-3;
      display: block;
      border-radius: 3px;
      transition: all 0.2s;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
    }

    &::after {
      top: -1rem;
    }

    &::before {
      top: 1rem;
    }
  }
}
