.popup {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  backdrop-filter: blur(10px);

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;

  &:target {
    opacity: 1;
    visibility: visible;
    & .popup-card {
      @include absoluteCenter(scale(1));
    }
  }
  &-card {
    @include absoluteCenter(scale(0));
    border-radius: 3px;
    background-color: $color-white;
    width: 80%;
    @include clearfix;
    overflow: hidden;
    transition: all 0.5s ease-in;
    @include respond(phone) {
      width: 100%;
    }

    &__exit {
      &,
      &:visited {
        position: absolute;
        text-decoration: none;
        color: $color-grey-dark;
        top: 3rem;
        right: 3rem;
        font-size: 4rem;
        z-index: 10000;
        line-height: 1;
        @include respond(phone) {
          transform: scale(1.3);
        }
      }
      &:hover {
        color: $color-grey-dark-2;
      }
    }

    &__images {
      display: inline-block;
      width: 33%;
      float: left;
      @include respond(phone) {
        display: none;
      }
    }
    &__image {
      width: 100%;
      display: block;
    }
    &__terms {
      column-count: 2;
      column-width: 4rem;
      column-rule: 1px solid $color-grey-dark-1;
      hyphens: auto;

      @include respond(phone) {
        column-count: 1;
      }
    }
  }
  &__text {
    padding-left: 3rem;
    height: 100%;
    width: 66%;
    float: left;
    @include respond(phone) {
      font-size: 1.5rem;
      width: 100%;
      margin-top: 5rem;
    }
  }
}
